{% extends "header.html" %}
{% block content %}
    <div class="container">

    <div class="justify-content-center">
      <h1 class="text-center"> Machine Learning </h1>
    </div>
    <hr class="w-75 mt-0 bg-info">
    <br>


    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
                <form action="pred">
                    <button class="btn btn-info"> Prediction </button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-6">
                <form action="train">
                    <button class="btn btn-secondary"> Entrainement </button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-6">
                <form action="upload">
                    <button class="btn btn-primary"> Upload CSV </button>
                </form>
            </div>
        </div>
    </div>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

{% endblock %}