{% extends "header.html" %}
{% block content %}
    <div class="container">

    <div class="justify-content-center">
      <h1 class="text-center"> Avis </h1>
    </div>
    <hr class="w-75 mt-0 bg-info">
    <br>
    <form action = "/prediction" method = "POST">
            <div class="row justify-content-center">
                <div class="form-group col-5">
                    <label>Texte</label>
                    <input type = "text" name = "input_text" class="form-control"/>
                    <input type = "submit" value = "submit" class="btn btn-info" />
                </div>
            </div>
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

{% endblock %}